/__pycache__
venv
env
.env
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pid
*.swp
*.bak
*.tmp
*.DS_Store
*.egg-info
*.egg
*.dist-info
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.coverage.*
*.hypothesis
*.ipynb_checkpoints
*.idea
*.vscode
*.sublime-workspace